include ../../components/breadcrumb/breadcrumb.pug

mixin page-head(data)
  section.section-page-head
    .container
      .page-head
        .page-head__title
          h1= data.title
        .page-head__breadcrumb
          +breadcrumb(data.breadcrumb)

