.section-page-head {
    padding-top: 35px;
    padding-bottom: 10px;
}

.page-head {
    &__title {
        & h1 {
            @include section-subtitle;
        }
    }

    &__breadcrumb {
        padding-top: 20px;
    }
}