
mixin min-about
  .section-min-about
    .container
      .min-about
        .min-about__ball
          +picture('/img/common/ball')
        .min-about__logo
          include ../../../img/common/logo-white.svg
        .min-about__title Зарегистрированный товарный знак
        .min-about__text Мы не просто посредники. Отличительной чертой нашей компании является собственное производство. Также функционирует гарантийно-сервисный центр, который бесплатно осуществляет ремонт и настройку оборудования.
        .min-about__ballblur
          +picture('/img/common/ball-blur')