mixin home-news 
  section.section-home-news
    .home-news
      .home-news__bg
        +picture('/img/common/news-bg')
      .home-news__content
        .container
          .home-news__label: span Новости
          .home-news__title: a(href='#') Процессоры Intel 10-го поколения для настольных ПК!
          .home-news__desc Продуктивно работать и эффективно отдыхать с Intel® Core™ 10-го поколения!
          .home-news__link
            a(href='#'): button.btn.btn-arr Все новости
