include ../main-menu/main-menu.pug

.container
  .footer
    .footer__logo
      a(href='#'): span(class="logo" loading="lazy" style="background-image: url(/img/common/logo-white.svg)" )
    .footer__desc
      p ООО «Мератех»
      p Республика Беларусь, 220138, г. Минск, пер. Липковский 12, каб.57
      p УНП 192948553, ОКПО 500939465000
    .footer__email
      a(href='mailto:info@meratech.by')
        +icons('#ic_email', '17')
        span info@meratech.by
  .footer__developer
    a(href='#')
      span Digital-агентство
      +bgimage('/img/common/logo-dev.svg')

+main-menu(app.mainMenu)


