
mixin block-instagram 
  section.section-block-instagram
    .block-instagram

      .block-instagram__title: .container Мы в Instagram
      .block-instagram__list
        ul
          li: a(href='#'): +picture('/img/inst/Rectangle79')
          li: a(href='#'): +picture('/img/inst/Rectangle80')
          li: a(href='#'): +picture('/img/inst/Rectangle81')
          li: a(href='#'): +picture('/img/inst/Rectangle82')
          li: a(href='#'): +picture('/img/inst/Rectangle83')

