
mixin block-instagram 
  section.section-block-instagram
    .block-instagram

      .block-instagram__title: .container Мы в Instagram
      .block-instagram__list
        ul
          li: a(href='https://www.instagram.com/p/CYHB7qyMaF2/' rel="no-follow" target="_blank")
            +picture('/img/inst/Rectangle79')
            span(data-like="12")
          li: a(href='https://www.instagram.com/p/CYHB7qyMaF2/' rel="no-follow" target="_blank")
            +picture('/img/inst/Rectangle80')
            span(data-like="32")
          li: a(href='https://www.instagram.com/p/CYHB7qyMaF2/' rel="no-follow" target="_blank")
            +picture('/img/inst/Rectangle81')
            span(data-like="44")
          li: a(href='https://www.instagram.com/p/CYHB7qyMaF2/' rel="no-follow" target="_blank")
            +picture('/img/inst/Rectangle82')
            span(data-like="789")
          li: a(href='https://www.instagram.com/p/CYHB7qyMaF2/' rel="no-follow" target="_blank")
            +picture('/img/inst/Rectangle83')
            span(data-like="15")

