mixin card-description
  section.section-card-description
    .container
      .card-description__title Описание
      .card-description__text
        p Мы сотрудничаем с абсолютно разными компаниями, но для каждой предлагаем только качественную продукцию. Мы производим как готовые решения в виде АПК, серверов, ПЭВМ, компьютерных классов, так и поставляем комплектующие для самостоятельной сборки ПЭВМ и серверов. Все наши сотрудники влюблены в свое дело, поэтому вы легко получите консультацию, гарантийное обслуживание, бесплатную доставку в пределах Беларуси. А для максимального ускорения работы мы создали модуль "B2B" — систему онлайн заказов без участия менеджера.
        p Мы убеждены, что двигателем развития любой компании является отменная продукция и высокое качество обслуживания. Благодаря этому, нам есть что предложить нашим действующим клиентам и есть чем заинтересовать новых. Мы гордимся тем, что являемся партнёром Intel, Microsoft, Biostar, Seagate, ASUS, Western Digital, Hikvision, Samsung и др. Партнерский статус позволяет нам работать напрямую с производителем и предлагать лучшие условия для своих клиентов.