- 
  const app = {

    mainMenu: [
      { 'text': 'Каталог продукции',  'href': 'services.html'},
      { 'text': 'Новости', 'href': 'location.html'},
      { 'text': 'Где купить', 'href': 'clients.html'},
      { 'text': 'Для бизнеса',  'href': 'projects.html'},
    ],


    shop: [
      {
        logo: '/img/logo/1',
        title: 'ОДО "Ксеон"',
        city: 'Минск',
        link: 'www.sli.by',
      },
      {
        logo: '/img/logo/2',
        title: 'ООО "КСТБАЙ"',
        city: 'Минск',
        link: 'www.kst.by',
      },
      {
        logo: '/img/logo/3',
        title: 'ЧТУП "Технолоджик"',
        city: 'Минск',
        link: '',
      },
      {
        logo: '/img/logo/4',
        title: 'ООО "БТМ Трейдинг"',
        city: 'Минск',
        link: 'www.socket.by',
      },
    ]



  };
















