- 
  const app = {

    mainMenu: [
      { 'text': 'Каталог продукции',  'href': 'catalog.html'},
      { 'text': 'Новости', 'href': 'news.html'},
      { 'text': 'Где купить', 'href': 'where-buy.html'},
      { 'text': 'Для бизнеса',  'href': 'for-busines.html'},
    ],


    shop: [
      {
        logo: '/img/logo/1',
        title: 'ОДО "Ксеон"',
        city: 'Минск',

      },
      {
        logo: '/img/logo/2',
        title: 'ООО "КСТБАЙ"',
        city: 'Минск',
        link: 'www.kst.by',
      },
      {
        logo: '/img/logo/3',
        title: 'ЧТУП "Технолоджик"',
        city: 'Минск',
        link: 'www.socket.by',
      },
      {
        logo: '/img/logo/4',
        title: 'ООО "БТМ Трейдинг"',
        city: 'Минск',
        link: 'www.socket.by',
      },
    ],

    category: [
      {'image': 'Group17', text: 'Компьютеры BVK'},
      {'image': 'image13', text: 'Мониторы BVK'},
      {'image': 'image1', text: 'Моноблоки BVK'},
      {'image': 'image7', text: 'Корпуса BVK'},
      {'image': 'image11', text: 'Мини ПК BVK'},
      {'image': 'image8', text: 'Периферия'},
      {'image': 'image12', text: 'Платформы для моноблоков BVK'},
      {'image': 'image9', text: 'Блоки питания'},
    ]



  };



















