- 
  const app = {

    mainMenu: [
      { 'text': 'Каталог продукции',  'href': 'catalog.html'},
      { 'text': 'Новости', 'href': 'news.html'},
      { 'text': 'Где купить', 'href': 'where-buy.html'},
      { 'text': 'Для бизнеса',  'href': 'for-busines.html'},
    ],


    shop: [
      {
        logo: '/img/logo/1',
        title: 'ОДО "Ксеон"',
        city: 'Гомель',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'53.892172219267515,27.453579359543337',

      },
      {
        logo: '/img/logo/2',
        title: 'ООО "КСТБАЙ"',
        city: 'Лепель',
        link: 'www.kst.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'53.908392731818644,27.640346937668337',
      },
      {
        logo: '/img/logo/3',
        title: 'ЧТУП "Технолоджик"',
        city: 'Мозырь',
        link: 'www.socket.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'53.783526901843615,30.422875374320405',
      },
      {
        logo: '/img/logo/4',
        title: 'ООО "БТМ Трейдинг"',
        city: 'Гомель  ',
        link: 'www.socket.by',
        phone: ['8 (029) 333-37-59'],
        coordinates:'53.70211758713579,31.76320740557041',
      },
      {
        logo: '/img/logo/5',
        title: 'ООО "БТМ Трейдинг"',
        city: 'Минск ',
        link: 'www.izliv.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'52.476033081217075,31.054768585670164',
      },
      {
        logo: '/img/logo/6',
        title: 'ООО "Интернет-магазин izliv.by"',
        city: 'Костюковичи',
        link: 'www.strelaonline.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88', '8 (033) 555-99-88'],
        coordinates:'52.223743689017724,27.863240265357657',
      },
      {
        logo: '/img/logo/7',
        title: 'ООО "21vek"',
        city: 'Минск',
        link: 'www.21vek.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'53.68979663462975,23.825764679420153',
      },
      {
        logo: '/img/logo/8',
        title: 'ООО "ПАТИО"',
        city: 'Минск',
        link: 'www.5element.by',
        phone: ['8 (029) 333-37-59', '8 (033) 333-37-88'],
        coordinates:'53.398606242325805,24.53987600754516',
      },
    ],

    category: [
      {'image': 'Group17', text: 'Компьютеры BVK'},
      {'image': 'image13', text: 'Мониторы BVK'},
      {'image': 'image1', text: 'Моноблоки BVK'},
      {'image': 'image7', text: 'Корпуса BVK'},
      {'image': 'image11', text: 'Мини ПК BVK'},
      {'image': 'image8', text: 'Периферия'},
      {'image': 'image12', text: 'Платформы для моноблоков BVK'},
      {'image': 'image9', text: 'Блоки питания'},
    ],

    product: [
      {image: '/img/catalog/Group17', title: 'Мониторы BVK BVK E200FI-VHS E200FI-VHS'},
      {image: '/img/catalog/Group17', title: 'BVK E200FI-VHS'},
      {image: '/img/catalog/Group17', title: 'BVK E200FI-VHS'},
      {image: '/img/catalog/Group17', title: 'BVK E200FI-VHS'},
      {image: '/img/catalog/Group17', title: 'BVK E200FI-VHS'},
    ], 

    props: [
      {'name':'Диагональ экрана (полуматовый): ', 'value':'20 "'},
      {'name':'Формат матрицы: ', 'value':'16:9'},
      {'name':'Тип матрицы:', 'value':' IPS'},
      {'name':'Углы обзора: ', 'value':'170/170'},
      {'name':'Угол наклона:', 'value':' -5°~+20°'},
      {'name':'Разрешение экрана: ', 'value':'1600x900, HD+'},
      {'name':'Частота обновления экрана:', 'value':' 60 Гц'},
      {'name':'Глубина цвета матрицы:', 'value':' 16.7 M'},
      {'name':'Яркость: 250 кд/м2', 'value':' 250 кд/м2'},
      {'name':'Защитные технологии: ', 'value':'Anti-Blue Light, Flicker Free, Kensington lock'},
      {'name':'Время отклика: ', 'value':'Время отклика: 5 мс'},
      {'name':'Контраcтность: ', 'value':'Контраcтность: 1000:1'},
        {'name':'Угол наклона:', 'value':' -5°~+20°'},
      {'name':'Разрешение экрана: ', 'value':'1600x900, HD+'},
      {'name':'Частота обновления экрана:', 'value':' 60 Гц'},
      {'name':'Глубина цвета матрицы:', 'value':' 16.7 M'},
      {'name':'Яркость: 250 кд/м2', 'value':' 250 кд/м2'},
    ],

    news: [
      {
        image: '/img/common/news',
        title: 'Процессоры Intel 10-го поколения для настольных ПК!',
        desc: 'Настольные процессоры Intel® Core™ 10-го поколения предлагают геймерам подходящий баланс рабочей частоты, количества ядер и потоков, а также предлагают поддержку новейших технологий и повышенную гибкость настройки, позволяя получить уникальный геймерский опыт.',
        modify: false,
      },
      {
        image: '/img/common/news1',
        title: '«Виртуальный офис» с Microsoft Teams и Logitech!',
        desc: false,
        modify: 'min',
      },
      {
        image: '/img/common/news1',
        title: '«Виртуальный офис» с Microsoft Teams и Logitech!',
        desc: false,
        modify: false,
      },
        {
        image: false,
        title: '«Seagate SkyHawk - Жесткие диски для видеонаблюдения с искусственным интеллектом',
        desc: 'Диски SkyHawk™ емкостью до 10 ТБ для круглосуточной записи с видеорегистраторов.',
        modify: 'min',
      },
      {
        image: '/img/common/news2',
        title: 'Корпоративный парк накопителей Seagate',
        desc: false,
        modify: 'min',
      },

        {
          image: '/img/common/news',
          title: 'Процессоры Intel 10-го поколения для настольных ПК!',
          desc: 'Настольные процессоры Intel® Core™ 10-го поколения предлагают геймерам подходящий баланс рабочей частоты, количества ядер и потоков, а также предлагают поддержку новейших технологий и повышенную гибкость настройки, позволяя получить уникальный геймерский опыт.',
          modify: 'min',
      },

        {
          image: '/img/common/news',
          title: 'Процессоры Intel 10-го поколения для настольных ПК!',
          desc: 'Настольные процессоры Intel® Core™ 10-го поколения предлагают геймерам подходящий баланс рабочей частоты',
          modify: 'min',
      },




    ],



  };



















