- 
  const app = {

    mainMenu: [
      { 'text': 'Our Services',  'href': 'services.html'},
      { 'text': 'Location', 'href': 'location.html'},
      { 'text': 'Clients', 'href': 'clients.html'},
      { 'text': 'Precent Project',  'href': 'projects.html'},
      { 'text': 'Contact', 'href': 'contact.html'},
    ],



  };
















