/* ============================================================
	Uni
============================================================*/

@font-face {
    font-family: 'Uni Neue';
    src: url('/fonts/uni/UniNeueHeavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue Book';
    src: url('/fonts/uni/UniNeueBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('/fonts/uni/UniNeueRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('/fonts/uni/UniNeueBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}